/* This CSS takes a mobile-first approach */

/* Set up CSS variables */
:root {
    --header-color: #FFF;
    --work-color: rgb(146, 0, 165);
    --section-margin: 15%;
}

* {
    /* Set default fonts for text */
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

.header {
    color: var(--header-color);
    text-align: center;
    padding: 15px 0;    
    margin-bottom: var(--section-margin);
    
    /* https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css */
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url("../images/pocky_by_mpokki_placeholder.jpg");
}

.header h1 {
    margin-top: 15px;
    font-size: 50px;
}

.nav-bar {
    /* Nav bar container controls how elements appear in the flex box */
    display: flex;
    flex-wrap: wrap;
}

/* TODO: Bold items on hover */
.nav-bar-item {
    /* Placement */
    display: inline-block;
    margin: 1% auto;
    padding: 8px 0;
    text-align: center;
    width: 50%;

    /* Circular border */
    border: solid;
    border-radius: 50px;
    color: var(--header-color);

    text-decoration: none;
}

/* TODO: Add separating lines between sections */

.about-me {
    text-align: center;
    margin: 0 20%;
    margin-bottom: var(--section-margin);
    border: double;
}

.about-me p {
    line-height: 150%;
    padding: 2rem;
}

.my-work {    
    margin-bottom: var(--section-margin);
}

.my-work h2 {
    text-align: center;
}

.work-box {
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    position: relative;
    margin: 0 10%;
}

.work-item img {
    width: 100%;
    border: 10px solid var(--work-color);
    border-radius: 30px;
}

.work-item figcaption {
    /* Overlay caption text on image */
    position: absolute;
    bottom: 15%;

    font-size: 30px;
    margin-left: 0%;
    padding: 1rem;
    letter-spacing: 0.05em;
    color: rgb(226, 226, 226);
    font-weight: bold;
    background-color: var(--work-color);
}

/* .work-item.featured {

} */

.contact-me {
    text-align: center;
}

.contact-links {
    /* Contact links container controls how elements appear in the flex box */
    display: flex;
    flex-wrap: wrap;
}

/* TODO: Bold items on hover */
/* This span is needed as a container so the link doesn't reach across the whole page */
.contact-links span {
    /* Placement */
    display: block;
    margin: 3% auto;
    width: 100%;
    text-align: center;    
}

.contact-link-item {
    text-decoration: none;
    
    padding: 0.5rem;
    border: 0.1rem solid;
    border-radius: 5px;
    color: black;
}]


/* Tablet-specific elements */
@media screen and (min-width: 420px) {

}

/* Desktop-specific elements */
@media screen and (min-width: 768px) {

}